source https://api.nuget.org/v3/index.json

framework auto-detect

nuget FSharp.Core
nuget FSharp.Quotations.Evaluator
nuget Grpc.AspNetCore
nuget Logary
nuget Hopac
nuget BenchmarkDotNet
nuget Expecto
nuget Expecto.FsCheck
nuget Expecto.Hopac
nuget EventStore.Client

nuget UniStream.Domain
nuget UniStream.Infrastructure