type file
id UniStream
owners UniCloud
authors Eric
description
    Lightweight framework for CQRS.
files
    src/Domain/bin/Release
    src/Infrastructure/bin/Release
    !src/Domain/**/*.json
    !src/Domain/**/*.pdb
    !src/Infrastructure/**/*.json
    !src/Infrastructure/**/*.pdb
dependencies
    FSharp.Core >= LOCKEDVERSION
    EventStore.Client >= LOCKEDVERSION